<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibir Tabela com Vue.js, DataTables e Bootstrap</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
    <!-- Bootstrap DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

    <link rel="manifest" href="./manifest.json">
</head>

<body>
    <div id="app" class="container-responsive p-5">
        <h1 class="mb-4">Exibir Tabela com Vue.js, DataTables e Bootstrap</h1>

        <!-- Campo para indicar qual o endpoint -->
        <div class="mb-3 d-flex">
            <input type="text" v-model="endpoint" class="form-control me-2" placeholder="Digite a URL da API...">
        </div>

        <!-- Campo de busca e botão -->
        <div class="mb-3 d-flex">
            <input type="text" v-model="searchQuery" class="form-control me-2"
                placeholder="Digite para buscar na API...">
            <button @click="fetchData" class="btn btn-primary">Buscar</button>
        </div>

        <!-- Indicador de carregamento -->
        <div v-if="isLoading" class="text-center my-3">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>

        <!-- Tabela para DataTables -->
        <table id="dataTable" class="table-striped table-bordered table-responsive" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th v-for="(value, key) in dataColumns">{{ value }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data" :key="index">
                    <td>{{ index + 1 }}</td>
                    <td v-for="column in dataColumns" :key="column">{{ item[column] || '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <!-- DataTables Buttons JS -->
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <!-- Bootstrap DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <!-- Dependências dos botões -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const app = Vue.createApp({
                data() {
                    return {
                        data: [], // Armazena os dados da API
                        dataColumns: [], // Armazena os nomes das colunas
                        endpoint: 'https://servicodados.ibge.gov.br/api/v1/localidades/estados/@searchQuery/distritos',
                        searchQuery: 'SP', // Armazena o texto de busca
                        isLoading: false,
                    };
                },
                methods: {
                    async fetchData() {
                        this.isLoading = true;
                        try {
                            let search = this.endpoint.replaceAll('@searchQuery', this.searchQuery);

                            // Faz a requisição para a API
                            const response = await fetch(search);
                            if (!response.ok) {
                                throw new Error('Erro ao buscar dados da API');
                            }

                            let _data = await response.json();

                            if (!Array.isArray(_data)) {
                                _data = [_data];
                            }

                            // Armazena os dados no array
                            this.data = _data.map(item => this.flattenObject(item));

                            this.dataColumns = Array.from(
                                new Set(this.data.flatMap(item => Object.keys(item)))
                            );

                            this.$nextTick(() => {
                                if ($.fn.DataTable.isDataTable('#dataTable')) {
                                    // Se já existe uma instância do DataTable, destrói-a antes de criar uma nova
                                    $('#dataTable').DataTable().destroy();
                                }

                                $('#dataTable').DataTable({
                                    responsive: true, // Torna a tabela responsiva
                                    paging: false, // Ativa a paginação
                                    searching: true, // Ativa o campo de busca
                                    ordering: true, // Ativa a ordenação
                                    lengthChange: true, // Ativa a opção de escolher a quantidade de registros por página
                                    info: true, // Ativa a exibição de informações
                                    autoWidth: true, // Ativa a largura automática
                                    dom: 'Bfrtip', // Adiciona os botões de exportação e o campo de busca
                                    buttons: [
                                        {
                                            extend: 'copy',
                                            text: 'Copiar'
                                        },
                                        {
                                            extend: 'csv',
                                            text: 'Exportar CSV'
                                        },
                                        {
                                            extend: 'excel',
                                            text: 'Exportar Excel'
                                        },
                                        {
                                            extend: 'pdf',
                                            text: 'Exportar PDF'
                                        },
                                        {
                                            extend: 'print',
                                            text: 'Imprimir'
                                        }
                                    ]
                                });
                            }); // Aguarda o Vue.js atualizar o DOM
                        } catch (error) {
                            alert(error.message);
                        } finally {
                            this.isLoading = false;
                        }
                    },
                    flattenObject(obj, parentKey = '', result = {}) {
                        for (let key in obj) {
                            if (obj.hasOwnProperty(key)) {
                                const newKey = parentKey ? `${parentKey}.${key}` : key;
                                if (typeof obj[key] === 'object' && obj[key] !== null && !Array.isArray(obj[key])) {
                                    this.flattenObject(obj[key], newKey, result);
                                } else {
                                    result[newKey] = obj[key];
                                }
                            }
                        }
                        return result;
                    }
                }
            });

            let _app = app.mount('#app');

            _app.fetchData();
        });
    </script>
    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("./service-worker.js")
                .then(() => console.log("Service Worker registrado com sucesso."))
                .catch(error => console.error("Falha ao registrar o Service Worker:", error));
        }
    </script>
</body>

</html>